In [45]:
import pandas as pd

In [46]:
round1 = pd.read_csv("original/Course_Offering_0007_2022-11-6.csv")

In [47]:
round1.head()

,REG_ID,SEC_CUR_STAT,SEC_NAME,SEC_TITLE,Days,Time,Faculty,SeatsAvailableScheduledCapacity,CR_MIN,CR_MAX,Textbox8
0,91452,Active,ALS-100-01,Alternate Language Study,AR,NaN,"Izmaylova, Anastasia",99 /45,2.0,NaN,RECORD COUNT 702
1,90811,Active,AMS-130-01,Intro to American Studies,MWF,11:00 AM - 11:50 AM,"Andrews, Stephen R",96 /25,4.0,NaN,RECORD COUNT 702
2,91492,Active,AMS-195-01,ST: Contemp US Stdnt Activism,T TH,10:00 AM - 11:50 AM 10:00 AM - 10:50 AM,"Scott, Kesho",99 /25,2.0,NaN,RECORD COUNT 702
3,91456,Active,AMS-295-01,ST: Fdnts of US Popular Cultr,TTH,1:00 PM - 2:20 PM,"Purcell, Sarah J",84 /25,4.0,NaN,RECORD COUNT 702
4,91463,Active,AMS-295-02,ST: The Journey Within,TTH,1:00 PM - 2:20 PM,"Scott, Kesho; Freeman, William",95 /22,4.0,NaN,RECORD COUNT 702

In [48]:
scheduled_capacity = []
seats_r1 = []

for s in round1['SeatsAvailableScheduledCapacity']:
    cap = int(s.split('/')[1])
    fake_seats = int(s.split('/')[0])

    scheduled_capacity.append(cap)
    seats_r1.append(cap - (100 - fake_seats))

print(scheduled_capacity)
print(len(scheduled_capacity))

print(seats_r1)
print(len(seats_r1))

[45, 25, 25, 25, 22, 25, 25, 25, 25, 15, 20, 20, 20, 15, 18, 20, 16, 20, 16, 20, 16, 20, 15, 15, 25, 20, 25, 25, 25, 25, 25, 25, 20, 20, 25, 20, 20, 20, 12, 15, 15, 15, 25, 15, 15, 15, 15, 12, 10, 5, 20, 20, 24, 24, 12, 12, 12, 12, 24, 24, 24, 24, 24, 24, 24, 24, 12, 18, 10, 10, 12, 18, 10, 10, 12, 12, 18, 18, 12, 25, 15, 15, 18, 25, 18, 15, 24, 24, 24, 24, 24, 24, 24, 24, 24, 16, 16, 24, 24, 24, 20, 20, 20, 20, 20, 24, 12, 12, 24, 12, 12, 12, 25, 20, 15, 15, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 20, 24, 24, 20, 24, 1, 16, 6, 20, 20, 20, 20, 15, 26, 26, 26, 26, 26, 25, 25, 25, 25, 20, 25, 25, 26, 20, 20, 12, 12, 12, 12, 25, 25, 24, 25, 20, 15, 30, 15, 15, 10, 10, 10, 10, 15, 20, 20, 20, 20, 20, 20, 20, 15, 15, 15, 25, 25, 25, 25, 25, 25, 25, 15, 15, 15, 15, 10, 24, 15, 25, 25, 15, 10, 15, 5, 24, 24, 10, 15, 15, 15, 15, 15, 15, 12, 12, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 30, 25, 25, 25, 25, 15, 20, 15, 15, 20, 20, 10, 10, 10, 10, 20, 30, 20, 15, 15, 15, 25, 25, 15, 25, 20, 20, 15, 20, 15, 15, 15, 25, 25, 25, 25, 25, 25, 25, 25, 25, 12, 25, 25, 25, 15, 25, 25, 20, 12, 12, 12, 12, 12, 20, 12, 12, 25, 30, 25, 16, 25, 25, 25, 25, 15, 20, 20, 20, 20, 18, 30, 18, 10, 20, 20, 15, 25, 25, 25, 30, 20, 15, 15, 28, 32, 32, 32, 32, 32, 32, 20, 28, 28, 28, 20, 20, 20, 28, 20, 20, 20, 20, 12, 12, 12, 25, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 12, 22, 11, 11, 30, 3, 10, 20, 10, 20, 20, 20, 4, 20, 22, 12, 20, 14, 8, 20, 10, 20, 3, 15, 20, 3, 20, 6, 3, 20, 3, 3, 60, 20, 10, 20, 20, 20, 20, 20, 20, 25, 18, 12, 20, 20, 20, 20, 20, 20, 20, 12, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 15, 15, 32, 16, 16, 25, 20, 12, 20, 12, 12, 20, 10, 7, 24, 12, 12, 12, 20, 50, 30, 20, 20, 10, 20, 25, 20, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 11, 30, 16, 24, 12, 25, 25, 25, 25, 25, 25, 25, 22, 22, 22, 22, 22, 22, 15, 10, 24, 24, 24, 24, 24, 24, 24, 24, 24, 16, 30, 12, 12, 15, 18, 12, 12, 15, 12, 12, 25, 25, 25, 25, 25, 25, 25, 25, 22, 25, 25, 15, 15, 15, 25, 12, 26, 26, 26, 25, 25, 25, 25, 25, 25, 15, 15, 12, 15, 15, 12, 12, 25, 25, 20, 20, 20, 20, 25, 25, 15, 15, 25, 10, 600, 20, 25, 15, 20, 25, 12, 12, 15, 15, 30, 15, 25, 25, 25, 25, 25, 25, 25, 25, 20, 22, 18, 18, 25, 25, 25, 25, 25, 8, 14, 14, 15, 20, 20, 15, 15, 20, 20, 20, 20, 20, 15, 15, 15, 15, 15, 10, 10, 28, 12, 25, 25, 12, 30, 25, 25, 16, 30, 25, 26, 26, 26, 26, 18, 18, 20, 20, 12, 25, 24, 14, 18, 8, 12, 12, 30, 14, 20, 14, 18, 12, 20, 20, 18, 20, 10, 20, 24, 24, 30, 15, 15, 15, 10, 10, 15, 15]
702
[44, 21, 24, 9, 17, 21, 22, 14, 21, 13, 15, 11, 17, 15, 0, 20, 14, 11, 5, 16, 13, 17, 15, 8, 25, 20, 23, 25, 24, 19, 23, 24, 19, 20, 17, 15, 16, 17, 11, 10, -4, -6, 6, 8, 2, 9, 15, 2, 9, 5, 20, 20, -7, 15, 8, 3, -10, 4, 0, 17, 14, 18, 11, 7, -9, 24, -10, 10, 7, 5, -4, 1, 0, 3, -5, 9, 18, 17, 5, 24, 15, 14, 17, 20, 17, 14, 16, -1, 24, 13, 8, 3, 23, 8, 8, -3, 3, 6, -9, -8, 12, 9, -12, -8, 16, 18, 12, 3, 10, 9, 0, 11, 17, 18, 10, 15, 20, -12, 24, 24, 18, 16, 24, 12, 1, -2, 2, -9, -6, 16, 11, -7, -3, -98, -16, 6, 2, 5, 16, 15, 14, 23, 21, 6, 21, 19, 12, -2, 25, -1, -1, 21, -4, 14, 2, 14, 12, 11, 12, 11, 15, 10, 12, 8, 11, 7, 30, 14, 15, 10, 10, 10, 10, 1, 20, 20, 9, 19, 18, 20, 19, 7, -1, 3, 17, 8, 21, 9, 19, 18, 21, 2, 3, 15, -1, -12, 18, 10, 6, 22, 9, 9, 14, 5, 24, 24, 9, 15, 14, 14, 14, 15, 14, 9, 8, 25, 11, 21, 19, 21, 24, 17, 25, 25, 25, 25, 24, 1, 15, 21, 23, 23, 24, 25, 24, 13, 23, 22, 23, 1, 19, 19, 22, 29, 25, 20, 22, 25, 3, 20, 14, 15, 19, 20, 10, 10, 10, 9, 19, 29, 15, 14, 15, 13, 17, 8, 13, 18, 20, 7, 1, 20, 14, 10, 13, 23, 15, 23, 18, 18, 24, 21, 13, 11, 12, 21, 16, 9, 15, 24, 21, 18, 8, 10, 6, 12, 9, 17, 7, 12, 22, 30, 22, 13, 21, 23, 25, 24, 14, 18, 20, 17, 19, 17, 27, 18, 9, 18, 19, 15, 19, 23, 19, 27, 20, 11, 14, -4, 28, 10, 12, 10, 23, -1, -6, 6, 4, 28, 1, 14, 20, 9, 17, 13, 12, 2, 4, 7, 4, 2, 49, 50, 50, 39, 39, 47, 50, 50, 47, 47, 49, 48, 11, 20, 11, 9, 28, 2, 9, 20, 10, 20, 11, 18, 2, 20, 18, 9, 20, 13, 7, 17, 10, 20, 3, 13, 20, 3, 20, 6, 3, 20, 1, 3, 48, 4, 9, 8, 20, 20, 20, 20, 12, 25, 16, -1, 20, 20, 20, 20, 20, 20, 20, 12, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 15, 15, 3, -3, 6, 19, 15, -3, 15, 9, 12, 18, 9, -4, 12, 7, 12, 12, 17, 48, 27, 18, 16, 10, 15, 2, 9, 29, 29, 30, 29, 30, 26, 30, 28, 30, 30, 29, 30, 9, 23, 16, 3, 6, 19, 18, 25, 25, 14, 16, 24, 8, 9, 21, 16, 17, 14, 7, 9, 12, 18, 11, 4, 24, 17, 9, 19, 15, 14, 17, 1, 7, 10, 11, 7, 7, 15, 11, 11, 23, 15, 21, 3, -1, 25, 5, 17, 14, 14, 18, -4, 2, 1, -1, 10, 9, 10, 23, -4, 13, 9, -11, 25, 25, 13, 11, 3, 12, 6, 12, 10, 21, 25, 19, 17, 16, 19, 11, 19, 15, 10, 22, 10, 1100, 20, 19, 12, 20, 25, 12, 8, 14, 15, 30, 15, 16, 25, 23, 16, 19, 17, 25, 21, 15, 14, -10, 0, 9, 13, 8, 17, 20, 4, 4, 9, 1, 19, 18, 14, 14, 19, 18, 18, 17, 19, 12, 12, 12, 10, 13, -20, -1, -4, 7, 25, 25, 12, 30, 25, 14, 13, 28, 25, 20, 20, 19, -14, -12, 14, 12, 7, 4, 2, -1, 9, 14, -4, 12, 12, 30, 14, 20, 11, 16, 10, 20, 20, 17, 19, 8, 20, 22, 24, 30, 15, 13, 14, 10, 10, 15, 14]
702

Note that for round 2 and 3 registration data, we will need to match the registration ID because the courses may not be presented in order.

In [49]:
reg_data = round1[['REG_ID', 'SEC_CUR_STAT', 'SEC_NAME', 'SEC_TITLE', 'Days', 'Time', 'Faculty', 'CR_MIN']].copy()
reg_data['ScheduledCapacity'] = scheduled_capacity
reg_data['SeatsAvailableR1'] = seats_r1
reg_data.head()

,REG_ID,SEC_CUR_STAT,SEC_NAME,SEC_TITLE,Days,Time,Faculty,CR_MIN,ScheduledCapacity,SeatsAvailableR1
0,91452,Active,ALS-100-01,Alternate Language Study,AR,NaN,"Izmaylova, Anastasia",2.0,45,44
1,90811,Active,AMS-130-01,Intro to American Studies,MWF,11:00 AM - 11:50 AM,"Andrews, Stephen R",4.0,25,21
2,91492,Active,AMS-195-01,ST: Contemp US Stdnt Activism,T TH,10:00 AM - 11:50 AM 10:00 AM - 10:50 AM,"Scott, Kesho",2.0,25,24
3,91456,Active,AMS-295-01,ST: Fdnts of US Popular Cultr,TTH,1:00 PM - 2:20 PM,"Purcell, Sarah J",4.0,25,9
4,91463,Active,AMS-295-02,ST: The Journey Within,TTH,1:00 PM - 2:20 PM,"Scott, Kesho; Freeman, William",4.0,22,17

In [50]:
reg_data[reg_data['SEC_CUR_STAT'] != 'Cancelled'].to_markdown('output/reg_data.md')